aiohttp
Django
django_import_export
django_jalali
django_mptt
django_phonenumber_field
djangorestframework
djangorestframework_simplejwt
import_export
jdatetime
openpyxl
pandas
Requests
zeep
django-polymorphic
django-jalali-date
django-jalali
psycopg2
phonenumbers
Pillow
django-cors-headers